{% extends "agalery/padre.html"%}
{% block contenido %}
 <section class="pt-4">
    <div class="container">
        <div class="row center gx-lg-5">  
            <h3><FONT COLOR="blue">Buscar obras</FONT></h3>
            <h5>Si no ingresas nada aparecen todas las obras del catalogo</h5>
    <form action="{% url 'buscarobras' %}" method="get">
        <label for="titulo"><b> Título:</b></label>
        <input type="text" id="titulo" name="titulo" value="{{ request.GET.titulo }}">
        <button type="submit">Buscar</button>
    </form>
         {% if resultados %}
         <h3><FONT COLOR="blue">Resultados</FONT></h3>
        <ul>
         {% for obra in resultados %}
        <b>Obra: </b>{{ obra.titulo }} <b>| Artista: </b> {{ obra.nombre }} <b>| Imagen </b> {{ obra.imagen }}<br>
        {% endfor %}
        {% endif %}
    </div>
  </div>
</section>
{% endblock %}

