{% extends "agalery/padre.html"%}
        {% block contenido %}
        <section class="pt-4">
            <div class="container">
                <div class="row center gx-lg-5">   
                <h1>Editar Obra</h1>
                <form action="" method="post" enctype="multipart/form-data">
                   {% csrf_token %}
                   <table> {{form.as_table}} </table>             
                   <button> Guardar</button>
                </form>    
        </div>
    </section>
    {% endblock contenido %}