{% extends "agalery/padre.html"%}
        {% block contenido %}
        <section class="pt-4">
            <div class="container">
                <div class="row center gx-lg-5">     
                    {% if msj %}
                    <h1 class="display-5 fw-bold">
                        {{msj}}
                    </h1> 
                                <h2 class="card-title">Catálogo</h2>
                                <a href={% url 'obra'%} class="btn btn-primary">Obras</a>
                
                            </div>
                            {% endif %}
            </div>
        </section>
        {% endblock contenido %}
