{% extends "agalery/padre.html"%}
        {% block contenido %}
        <section class="pt-4">
            <div class="container-sm">
            <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card h-100 border-0 shadow-sm">
                            <div class="card-body">
                                <h2 class="card-title">Catalogo</h2>
                            </div>
                            <div class="card-footer">
                                <a href={% url 'obra'%} class="btn btn-primary">Obras</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock contenido %}
