{% extends "agalery/padre.html"%}
{% block contenido %}
<section class="py-5">
    <div class="container my-5">
        <div class="col-lg-6">
            {% load static %}
            {% block contenidoquecambia %}

            <h3>Listado de obras disponibles</h3>
            {% for obra in obras %}
                <li><b>{{obra.artista}} - <FONT COLOR="blue">{{ obra.titulo }}</FONT></b> - {{ obra.descripcion }}</li>
            {% endfor %}

            {% endblock %}
        </div>
    </div>
</section>
{% endblock contenido %}