{% extends 'agalery/padre.html' %}
  {% load static %}
    </head>     
    {% block contenido %}
    <div>
        <h2><a class="nav-link" href={% url 'editarobra'%} >Editar Obra</a></h2>
    </div>
    <h5>
        {% if mas_datos.imagen %}
        <img src="{{mas_datos.imagen.url}}" alt="Agaleria\avatares\580b57fcd9996e24bc43c325.pngg"  width="250" height="250" >
        {% else %}
        <img src="Agaleria\avatares\580b57fcd9996e24bc43c325.png" alt="..." width="250" height="250"/>
        {% endif %}
        <li>{{request.user.titulo}}</li>
        <li>{{request.user.descripcion}}</li>
        <li>{{request.user.precio}}</li>
    </h5>

    {% endblock contenido %}
